body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

body .accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .accueil .btn {
  width: 200px;
  background-color: #dc161b;
  border: 2px solid white;
  color: white;
}

body .accueil .accueil-container {
  display: flex;
  max-width: 1200px;
  align-items: baseline;
  justify-content: space-between;
}

body .accueil .accueil-container .titre-slogan {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: white;
}

body .accueil .accueil-container .titre-slogan h2 {
  font-size: 3rem;
}

body .accueil .accueil-container .titre-slogan h6 {
  font-size: 1.5rem;
}

body .accueil .accueil-container .logo-container {
  object-fit: contain;
  width: 50%;
}

body .accueil .accueil-container .logo-container img {
  width: 80%;
}

body form {
  width: 50%;
  margin-left: 25%;
  color: #dc161b;
}

body form .btn {
  background-color: #dc161b;
  border: 2px solid white;
  color: white;
}

body a.btn {
  background-color: #dc161b;
  border: 2px solid white;
  color: white;
}
